@media (max-height: 540px) {
  #nonAnimalContent {
    width: 100%;
    max-width: 400px;
    padding-bottom: 16px;
    /* gap: 6px; */
    gap: clamp(5px, min(1.67dvw, 1.13dvh), 540px);
  }
  .breakclass{
    display: none;
  }

  #leftSide_AnimalGroup {
    /* display: block; */
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end;
    align-items: flex-end; */
  }

  #rightSide_AnimalGroup {
    /* display: block; */
    display: flex;
    flex-direction: column;
  }

  #animalImageContainer {
    display: none;
  }

  #welcome-screen2 #welcomeScreenContent img {
    width: clamp(72px, min(11dvw, 34.9dvh), 505px);
    /* width: clamp(69px, min(11dvw, 34.9dvh), 505px); */
  }
}

@media (max-width: 1305px) {
  #firstAnimalGroup {
    display: block;
  }

  #secondAnimalGroup {
    display: block;
  }

  #animalImageContainer img {
    width: clamp(135px, min(24dvw, 18.37dvh), 1305px);
    /* width: clamp(135px, 18.37dvh, 1305px); */
  }
}

@media (max-width: 646px) {
  #animalImageContainer img {
    width: clamp(77px, min(24dvw, 21.4dvh), 646px);
  }

  #hero-text2 {
    font-size: clamp(1.9rem, min(5.90dvw, 11.05dvh), 13.4rem);
    /* white-space: nowrap; */
  }

  #welcome-text2 {
    font-size: clamp(1.4rem, min(4.70dvw, 12.03dvh), 13.4rem);
  }

  #start-button2 {
    /* font-size: clamp(1.1rem, min(4dvw, 5.93dvh), 13.4rem); */
    font-size: clamp(1rem, min(3dvw, 5dvh), 13.4rem);
    white-space: nowrap;
  }
  .breakclass{
    display: none;
  }
}

@media (max-width: 480px) and (min-height: 392px) {
  #animalImageContainer {
    white-space: nowrap;
    display: block;
  }

  #leftSide_AnimalGroup {
    display: none;
  }

  #rightSide_AnimalGroup {
    display: none;
  }

  #firstAnimalGroup {
    display: block;
  }

  #secondAnimalGroup {
    display: block;
  }
  .breakclass{
    display: none;
  }
}

@media (orientation: portrait) {
  #logo-image {
    height: 15vw;
    width: auto;
    border-radius: 4vw;
  }

  #hero-text{
    font-size: 10vw;
  }

  #welcome-text {
    font-size: 7vw;
  }

  .start-button { 
    font-size: 4vw;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    z-index: 1; /* Ensure button is above the GIF background */
  }
   
  #question-container {
    top: 40%;
  }

  #question-text {
    font-size: 3vmax;
    text-shadow: 0 0 1px rgb(255, 255, 255) /* trick to make text bold */
  }

  .breakclass{
    display: none;
  }

  #answers {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-items: center;
    bottom: 5%; /* Remove fixed bottom position */
    z-index: 1; /* Ensure it’s behind the progress bar */
  }
  .answer-button {
    width: 100%; /* Full width for mobile */
    max-width: none;
    font-size: 2dvh;
    word-spacing: normal;
    padding: 1.2dvh;
    margin-top: 1dvh;
    border-radius: 1.5dvh;
    /* transition: background-color 0.3s ease; */
    text-shadow: 0 0 0.75px rgba(0, 0, 0, 0.6);
  }
  #answer-a {
    width: 90%; 
  }
  #answer-n {
    width: 80%; 
  }
  #answer-d {
    width: 90%; 
  }

  @keyframes change_submitColor {
    50% {
      background-color: #5bc2e7;
    }
    100% {
      background-color: #FEDB04;
    }
  }

  #submitBtn.mobile-click2 {
    animation: change_submitColor 0.3s forwards;
  }
}

@media (orientation: portrait), ((max-width: 725px) and (max-height: 725px)) {
  #detailed-results{
    width: 50%;
    display: flex;
    flex-direction: column;
    left: 2%;
    max-width: 225px;
    
  }
  #result-section1{
    margin-right: unset;
  }
  .topsection .description{
    margin: 0px 15px 15px 15px;
    /* min-width:305px; */
  }

  .topsection {
    flex-direction: column;
    text-align: center;
    padding: 0;
  }

  #detailed-results button {
    font-weight: bold;
    font-size: 1rem;
    /* padding: 2%; */
    padding: 10px 155px 10px 18px;
    /* padding-left: 3%; */
    /* margin-top: 2%;*/
  }
  #result-section2{
    margin-left: 23%;
  }
 
  .restart-button, .feedback-button {
    font-size: 3vw;
    padding: 3%;
    padding-top: 4%;
    padding-bottom: 4%;
  }

  #detailed-results, #result-text {
    font-size: 5dvh;
    flex-direction: column;
    display: flex;
    gap: 10px;
    width: 50%;
  }
  .desc-container {
    width: 84%;
    max-width: 1100px;

    margin: 70px auto 0;
    padding: 70px 75px 75px;

    background: #e7f7fb;
    border-radius: 45px;

    box-sizing: border-box;

    color: #000;
  }
  
  #second-section {
    padding: 0px 15px;
  }

  .animal_assets{
    display:none;
  }

  #result {
    text-shadow: 0 0 1px rgb(255, 255, 255) /* trick to make text bold */
  }

   #detailed-results {
    width: 75%;
    left: -25%;
  }
  #second-section{
    flex-direction: column;
  }
  
  #second-section > div {
    width: 100%;
  }

  #result-grid {
    flex-direction: column;
    justify-items: center;
    align-content: center;
  }
  /* #polaroid-animal-image{
    min-width: 200px;
    width: 252px; 
  } */

  /* #polaroid-animal-image
  {
  width: 200px;
    min-width: 200px;
  } */

  #scroll-down-text1{
    display: block;
    color: #A52C87;
    font-weight: 600;
    text-align: center;
    font-size: clamp(1.1rem, 1.23dvw, 9999px);
  }

  .scroll-arrow1{
    display: block;
    align-self: center;
    justify-self: center;
    grid-column: 2;
    grid-row: 2;
    margin-top: 1dvh;
    /* margin-left: 6.5dvh; */
    font-size: clamp(38px, 5dvh, 9999px);
    color: #FEDB04;
    text-shadow: -1.5px -1.5px 3px rgba(46, 101, 103, 0.5), 1.5px -1.5px 3px rgba(46, 101, 103, 0.5), -1.5px 1.5px 3px rgba(46, 101, 103, 0.5), 1.5px 1.5px 3px rgba(46, 101, 103, 0.5);
    animation: moveArrow 2s infinite ease-in-out;
    z-index: 50;

  }
  #result-animal-image {
    grid-column: 1;
    grid-row: 2;
    justify-content: center;
    height: 65dvh; /* Maintains the aspect ratio */
    width: auto; /* Adjust the size of the image */
    max-width: 100%;
    padding-top: 5dvh; /* Adds some space above the image */
  }

  #scroll-down-text {
    /* display: none; */
    grid-column: 1;
    grid-row: 3;
    /* font-size: 3dvh; */
    margin: 0;
    margin-right: 0;
    margin-left: 0;
    margin-top: 5dvh;
  }

  .scroll-arrow {
    grid-column: 1;
    grid-row: 4;
    /* font-size: 5dvh; */
    margin-top: 0;
    /* margin-left: 4dvh; */
  }
  
  #personality-details {
    font-size: 1.3rem; /* Adjust font size for smaller screens */
    padding: 15px; /* Adjust padding for smaller screens */
    margin: 20px 0%; /* Margin around text */
  }
  .details-box {
    width: 90%; /* Full width for mobile */
    display: block; /* Stack vertically */
    margin: 10px auto; /* Center horizontally */
  }
  .responsive-image {
    display: none; /* Hide the images on mobile devices */
  }
  .details-tree {
    display: none;
  }
  #topper-for-line {
    display: none;
  }
}
